@import url("https://fonts.cdnfonts.com/css/satoshi");

body {
	font-family: "Satoshi", sans-serif;
}

button {
	user-select: none;
}

@media (max-width: 640px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 641px) {
	html {
		font-size: 16px;
	}
}

.logos:before,
.logos:after {
	position: absolute;
	top: 0;
	width: 250px;
	height: 100%;
	content: "";
	z-index: 2;
}

.logos:before {
	left: 0;
	background: linear-gradient(to left, rgba(255, 255, 255, 0), #fafafc);
}

.logos:after {
	right: 0;
	background: linear-gradient(to right, rgba(255, 255, 255, 0), #fafafc);
}

.do-slide {
	animation: 20s slide infinite linear;
}

@keyframes slide {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}
